<section class="hero">
  <div class="hero-body">
    <p class="title hero-title">YAFC</p>
    <p class="subtitle">Yet Another Facebook Clone.</p>
  </div>
</section>
<section class="content">
  <div class="box">
    This facebook recreation was built using Rails 7.0 and further gems for QoL improvements. <br>
    Features include the base facebook timeline, notifications, a friend system and more. <br>
    To see how it was built, check out the github repo at <a href="https://github.com/NotAtec/fakebook_rails">www.github.com/NotAtec/Fakebook_rails</a>
  </div>
  <div class="box">
    Created by Jeroen Brinkhorst as part of The Odin Project. <br>
    For full site functionality, you can login with <i>odin@example.com</i> and <i>Testing</i>
  </div>
</section>