<div class="request-grid">
  <% @friends.each do |user| %>
    <% if user != @user %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <!-- add procedural grabber when gravatar -->
                <img src="https://static.thenounproject.com/png/574704-200.png" alt="Placeholder Avatar">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= user.full_name %></p>
              <p class="subtitle is-6"><%= link_to "Profile", user_path(user) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
