<div class="box dropdown-item">
  <div class="level">
    <div class="level-left">
      <span class="level-item icon is-small"><%= image_tag('bell-ring-outline.svg') %></span>
      <p class="level-item">Test</p>
    </div>
    <div class="level-right">
      <!-- make sure that buttons are generated based on notif type -->
      BTN
    </div>
  </div>
</div>