<div class="request-grid">
  <% @received.each do |user| %>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <!-- add procedural grabber when gravatar -->
              <img src="https://static.thenounproject.com/png/574704-200.png" alt="Placeholder Avatar">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= user.full_name %></p>
            <p class="subtitle is-6"><%= link_to "Profile", user_path(user) %></p>
          </div>
        </div>
        <footer class="card-footer">
          <%= button_to "Accept Request", accept_friendship_user_path(user), class: "button is-success" %>
          <%= button_to "Decline Request", remove_friendship_user_path(user), class: "button is-danger" %>
        </footer>
      </div>
    </div>
  <% end %>
</div>
