<section>
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <h1 class="title"><%= @user.full_name %>'s Friends</h1>
      <% if @friends.empty? %>
        <p><%= @user.full_name %> has no friends yet :(... Do you want to be their friend?</p>
      <% else %>
        <%= render 'friends' %>
      <% end %>
    </div>
  </div>
</section>