<section>
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <h1 class="title">Friends</h1>
      <% if @friends.empty? %>
        <p>You have no friends yet... Maybe Odin wants to be your friend!</p>
      <% else %>
        <%= render 'my_friends' %>
      <% end %>
      <br>
      <h2 class="subtitle">Requests</h2>
      <% if @received.empty? %>
        <p>You have no friend requests.</p>
      <% else %>
        <%= render 'requests' %>
      <% end %>
      <br>
      <h2 class="subtitle">All Other Users</h2>
      <%= render 'users' %>
    </div>
  </div>
</section>
