<div class="section">
  <div class="columns">
    <%= render 'sidebar' %>
    <div class="column is-half">
      <%= link_to posts_path, class: "is-size-7" do%>
        <b>Back to Posts</b>
      <% end %>
      <%= render @post %>
    </div>
  </div>
</div>
