<footer>
  <div class="content has-text-centered"><p><strong>YAFC</strong>, a basic recreation of <a href="https://www.facebook.com">FaceBook</a>. Made by <a href="https://github.com/NotAtec">Jeroen Brinkhorst</a></p></div>
</footer>